<div class="container">
    <form action="/alumnos/add" method="POST">
    <div class="mb-3">
        <label class="form-label" for="num_control">Numero de control:</label>
        <input class="form-control" type="text" name="num_control" id="num_control">
    </div>

    <div class="mb-3">
        <label class="form-label" for="nombre">Nombre:</label>
        <input class="form-control" type="text" name="nombre" id="nombre">
    </div>

    <button class="btn btn-primary">Agregar</button>
    
</form>



</div>

